<div class="text-center">
  <h3>{{ctrl.team.name}}</h3>

  <button ng-click="ctrl.addPlayer()">Add Player</button>
  <button href="#" ng-click="ctrl.removeCurrentTeam()">Delete</button>

  <div ng-if="ctrl.addFlag">
    <add-player-form></add-player-form>
  </div>

  <h2>Players</h2>
  <ul class="list_player">
    <li ng-repeat="player in ctrl.team.players | orderBy: '$index' ">
      {{$index + 1}}: <a href="#" ui-sref="league.player({id: player.id})">{{player.first_name | upperFirstLetter}} {{player.last_name | upperFirstLetter}}</a>
    </li>
  </ul>

</div>