<div class="text-center">
  <h3>{{ctrl.team.name}}</h3>

  <button href="#" ng-click="ctrl.removeCurrentTeam()">Delete</button>

  <h2>Players</h2>
  <ul class="list_player">
    <li ng-repeat="player in ctrl.team.players | orderBy: '$index' ">
      {{$index + 1}}: <a href="#" ui-sref="league.player({id: player.id})">{{player.first_name}} {{player.last_name}}</a>
    </li>
  </ul>

  <form ng-submit="ctrl.addPlayer()">
    <input type="text" placeholder="First Name" name="first_name" ng-model="ctrl.player.first_name">
    <input type="text" placeholder="Last Name" name="last_name" ng-model="ctrl.player.last_name">
    <input type="text" placeholder="Position" name="position" ng-model="ctrl.player.position">
    <input type="text" placeholder="Jersey Number" name="jersey_number" ng-model="ctrl.player.jersey_number">
    <input type="submit" name="Add Player">
  </form>
</div>