<h4>{{$ctrl.player.first_name}} {{$ctrl.player.last_name}}</h4>

<div class="text-center">
  
  <form ng-submit="$ctrl.updatePlayer()">
    <input type="text" name="first_name" ng-model="$ctrl.player.first_name"><br>
    <input type="text" name="last_name" ng-model="$ctrl.player.last_name"><br>
    <input type="text" name="position" ng-model="$ctrl.player.position"><br>
    <input type="text" name="jersey_number" ng-model="$ctrl.player.jersey_number"><br>
    <input type="submit" name="Edit Player">
  </form>
</div>