<form ng-submit="$ctrl.addPlayer()">
  <input type="text" placeholder="First Name" name="first_name" ng-model="$ctrl.player.first_name"><br>
  <input type="text" placeholder="Last Name" name="last_name" ng-model="$ctrl.player.last_name"><br>
  <input type="text" placeholder="Position" name="position" ng-model="$ctrl.player.position"><br>
  <input type="text" placeholder="Jersey Number" name="jersey_number" ng-model="$ctrl.player.jersey_number"><br>
  <input type="submit" name="Add Player">
</form>