<div class="text-center">
<button href="#" ui-sref="league.new">Create Division</button>
  <h2>Divisions</h2>

  <div ng-if="ctrl.editFlag">
    <edit-division-form parent-controller="ctrl" division-id="ctrl.selectedId"></edit-division-form>
  </div>

  <ul class="list_division">
    <li ng-repeat="division in ctrl.divisions | orderBy: '$index' ">
      {{$index + 1}}:  {{division.name}}
      <button ng-click="ctrl.editDivision(division.id)">Edit</button>
      <button href="#" ng-click="ctrl.removeDivision(division)">Delete</button>
    </li>
  </ul>

  
</div>