<div class="text-center">
  <h3>{{ ctrl.division.name }}</h3>


  <button href="#" ng-click="ctrl.removeCurrentDivision()">Delete</button>

  <h2>Teams</h2>
  <ul class="list_team">
    <li ng-repeat="team in ctrl.division.teams | orderBy: '$index' ">
      {{$index + 1}}: <a href="#" ui-sref="league.team({id: team.id})">{{team.name}}</a>
    </li>
  </ul>
  <h1>Create A Team</h1>

  <form ng-submit="ctrl.addTeam()">
    <input type="text" name="name" ng-model="ctrl.team.name">
    <input type="submit" name="Create Team">
  </form>
</div>